#canvas {
    background-color: black;
}
#left {
    height: 800px;
    background-color: white;
    flex: 1;
}

#right {
    height: 800px;
    background-color: white;
    flex: 1;
}

#content {
    height: 800px;
    background-color: aqua;
    display: flex;
}